---
interface Props {
  id: number;
  name: string;
  imagen: string;
  sexo: string;
  edad: number;
  ocupacion: string;
  clan: string;
  debut: string;
  estado: string;
  naturalezaTipo: string;
  clasificacion: string;
  familia: string;
}

const character = Astro.props;
const {
  id,
  name,
  imagen,
  sexo,
  edad,
  ocupacion,
  clan,
  debut,
  estado,
  naturalezaTipo,
  clasificacion,
  familia,
} = character;
---

<article
  class="relative max-w-96 min-h-72 bg-zinc-900 rounded-2xl cursor-pointer overflow-hidden hover:scale-105 transition-transform duration-300"
<<<<<<< HEAD
  data-character={JSON.stringify(character)}
=======
>>>>>>> 528cc71136977bb2ba41c104faf9cd284787af47
>
  <img class="w-full aspect-4/3" src={imagen} alt={name} />
  <span
    class="absolute right-2 top-2 bg-zinc-900 text-zinc-300 rounded-full px-2 py-1 text-xs font-bold select-none"
    >{estado}</span
  >
  <div class="flex flex-col px-3 pt-2 pb-5">
    <h2 class="font-segoe font-bold text-zinc-300">{name}</h2>
    <h5 class="text-orange-400 text-sm font-semibold">{ocupacion}</h5>
    <div class="mt-2 grid grid-cols-2 gap-2">
      <p class="flex flex-col">
        <span class="text-zinc-400">age </span><span
          class="text-zinc-300 font-semibold">{edad}</span
        >
      </p>
      <p class="flex flex-col">
        <span class="text-zinc-400">sex </span><span
          class:list={[
            "font-semibold",
            sexo === "Masculino"
              ? "text-blue-400"
              : sexo === "Femenino"
                ? "text-pink-400"
                : "text-zinc-300",
          ]}>{sexo}</span
        >
      </p>
      <p class="flex flex-col gap-0.5">
        <span class="text-zinc-400">clan </span><span
          class="w-fit bg-zinc-800 px-2 rounded-full border-l-2 border-l-amber-400 text-zinc-300 font-semibold"
<<<<<<< HEAD
          >{clan ?? "Desconocido"}</span
=======
          >{clan ?? 'Desconocido'}</span
>>>>>>> 528cc71136977bb2ba41c104faf9cd284787af47
        >
      </p>
      <p class="flex flex-col">
        <span class="text-zinc-400">clasificacion </span><span
<<<<<<< HEAD
          class="text-zinc-300 font-semibold"
          >{clasificacion ?? "Desconocido"}</span
=======
          class="text-zinc-300 font-semibold">{clasificacion ?? 'Desconocido'}</span
>>>>>>> 528cc71136977bb2ba41c104faf9cd284787af47
        >
      </p>
    </div>
  </div>
</article>
